/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    background-color: #1c1d21;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
  
   /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
   /* NAVBAR STYLING STARTS */
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1c1d21;
    color: #fff;
    font-family: "Roboto-bold",Arial,sans-serif;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 2rem;
    font-weight: 600;
    margin-left: 8.75rem;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    margin-right: 80px;
    gap: 1em;
    font-size: 1.35rem;
    font-weight: 600;
   }
   .menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: #1c1d21;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }
  
   /*RESPONSIVE NAVBAR MENU STARTS*/
  /* CHECKBOX HACK */
  input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu { 
    display:none;
    position: absolute;
    background-color:#1c1d21;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-left: 115px;
   }
   .menu li:hover {
    display: inline-block;
    background-color:#4c9e9e;
    transition: 0.3s ease;
   }

   .logo {
    font-size: 2rem;
    font-weight: 600;
   text-align: center;
   justify-content: center;
    color: white;
   }  
  
   .menu li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger {
    display: block;
   }
   .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   }
  
  /*navb bar ends*/
  
   .main {
    background-color: #1c1d21;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 20px;
    line-height: 28px;
    margin-top: 60px;
  }
  
  
  main{
    display: flex;
    flex-direction: column;
    width: 780px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
  }
  article{
    display: flex;
    align-items: flex-start;
    color: white;
    font-family: 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
    font-size: 20px;
  }
  #heading{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    font-size: 20px;
  }
  
  blockquote {
    border-left: 4px solid #ccc;
    padding: 1em 1em 1em 2em;
    margin: 1em 0;
  }
  
    ul.bullet-1 {
        font-size: 20px; /* increases the bullet size, list-item font size */
        font-family:  'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
        font-weight: 400;
       line-height: 1.45;
       color: white;
       text-align: justify;
       display: inline-block;
       text-align: left;
       list-style-position: outside;
       padding: 10px 0 10px 20px;
       text-indent: -1em;
     }
     
     ul.bullet-1 li::before{
       content : "\2022"; /* Adds the bullet */
       padding-right: 8px; /* creates the space between bullet, list item */
       color: rgb(255, 255, 255); /* changes the bullet color*/
       font-family:  'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu, Cantarell', 'Open Sans', 'Helvetica Neue', 'sans-serif';
       font-weight: 400;
       line-height: 1.45;
       list-style-position: outside;
     }
  
    .post-meta {
      color: rgba(255, 255, 255, 0.56);
      font-size: 14px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
  }
  
  .breadcrumbs {
    color: rgba(255, 255, 255, 0.56);
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    text-decoration: none; color:rgb(255, 255, 255);
  }
  
  
  
  
  /* Styling */
  
  #heading h1 span{
    font-size: 1em;
    color: #71BC2F;
  }
  article{
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
    padding-bottom:20px;
    font-size: 20px;
    line-height: 28px;
  }
  .para-text{
    font-size: 20px;
    line-height: 1.45;
  }
  h2{
    margin: 0;
    padding: 0;
    line-height:1em;
  }
  
  @media (max-width: 779px){
    main{
        max-width: 90%;
        margin: 0 auto;
    }
    article{
        flex-direction: column;
    }
  }
  
  .logo-link { color:#4c9e9e } /* Globally */
  
  /* Each state */
  
  .logo-link:visited { text-decoration: none; color:rgb(255, 255, 255); }
  .logo-link:hover { text-decoration: none; color:#4c9e9e; }
  .logo-link:focus { text-decoration: none; color:#4c9e9e; }
  .logo-link:hover, a:active { text-decoration: none; color:#ffffff;
   }
    
  
  
  /*footer css*/

{
  padding: 0;
  margin: 0;
}

}
footer
{
  position: sticky;
  bottom: 0;
}
@media(max-height:800px)
{
  footer
  {
      position: sticky;
  }
  header
  {
      padding-top: 40px;
  }
}
.footer-ditributed
{
  background-color: #1c1d21;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  padding: 50px;
  margin-top: 100px;
  font: 100px;
  font-weight: 700;
}
.footer-ditributed .footer-left,
.footer-ditributed .footer-center,
.footer-ditributed .footer-right
{
  display: inline-block;
  vertical-align: top;
}
.footer-ditributed .footer-left
{
  width: 30%;
}
.footer-ditributed .footer-left h3
{
  color: #fff;
  font: normal 36px  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  font-weight: 800;
}
.footer-ditributed .footer-left img
{
  width: 30%;
}
.footer-ditributed .footer-left h3 span
{
  color: #e0ac1c;
}
.footer-ditributed .footer-links
{
  color: #ffffff;
  margin: 20px 0 12px;
}
.footer-ditributed .footer-links a
{
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}
.footer-ditributed .footer-company-name
{
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-ditributed .footer-center
{
  width: 35%;
}
.footer-ditributed .footer-center i
{
  background-color: #1c1d21;
  color: #fff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-ditributed .footer-center i.fa-envelope
{
  font-size: 17px;
  line-height: 38px;
}
.footer-ditributed .footer-center p
{
  display: inline-block;
  color: #fff;
  vertical-align: middle;
  margin: 0;
}
.footer-ditributed .footer-center p span
{
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
}
.footer-ditributed .footer-center p a
{
  color: #e0ac1c;
  text-decoration: none;
}
.footer-ditributed .footer-right
{
  width: 30%;
}
.footer-ditributed .footer-right .footer-commpany-about
{
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-ditributed .footer-right .footer-commpany-about span
{
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}


.footer-ditributed .footer-right .icons
{
  margin-top: 28px;
}
.footer-ditributed .footer-right .icons a
{
display: inline-block;
width: 15px;
height: 15px;
background-color: transparent;
border-radius: 2px;
color: #fff;
text-align: center;
line-height: 25px;
margin: 30px;
margin-top: 0px;
}
.footer-ditributed .footer-right .icons :hover 
{
  background: #4c9e9e;;
}
@media(max-width:880px)
{
  .footer-ditributed .footer-left,
.footer-ditributed .footer-center,
.footer-ditributed .footer-right
{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.footer-ditributed .footer-center i
{
  margin-left: 0;
}